/* header principal */
.headerPrincipal .container{
    display: flex;
    align-items: center;
    background-color: rgb(235, 234, 234);
    height: 100px;
    width: 100vw;
    padding: 10px;
    color: black;
    align-content: center;
    align-items: space-between;
    justify-content: space-around;
    margin-right: 0%;
}

.headerPrincipal-nav {
    margin-right: 5%;
}

.headerPrincipal-Titulo {
    font-weight: bold;
    font-size: 2em;
}

 h1{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 30px;
    width: 50vw;
    margin-left: 5%;
 }


 a {
    text-decoration: none;
    color: inherit;

 }

 body {
    background-color: #cbcbcb;
    font-family: 'Open Sans',Arial,sans-serif;
 }

.headerPrincipal-nav-link {
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    padding: 15px 15px 15px 15px;
    margin: 8px;
    transition: .5s;
}

.headerPrincipal-nav-link:hover{
    background-color: grey;
    color: white;
}

h2 {
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 30px;
    width: 50vw;
    margin-left: 6%;
    margin-top: 3%;
    margin-bottom: 3%;

}


.contenidoPrincipal-cursos{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: left;
}


.contenidoPrincipal-cursos-link{
    content: '';
    border: #ffffff;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    width: 20vw;
    font-weight: bold;
}

.contenidoPrincipal-cursos-link:hover {
    box-shadow: 4px 4px 4px #ccc;
}


.contenidoPrincipal-cursos-link a:before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    
   
}


.contenidoPrincipal-cursos-link:nth-child(even) a:before{
    background: url(../img/background1.svg) no-repeat;
}

.contenidoPrincipal-cursos-link:nth-child(odd) a:before{
    background: url(../img/background2.svg) no-repeat;

}
    
.videocontainer{
    background-color: #619ede;
    padding: 2em 6em;
    display: flex;
    justify-content: center;
}

.videocontainer .textcontainer{
    max-width: 35%;
    font-size: 1.4em;
    padding: 0px 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innercontainer{
    margin: 0 2em;
}

.videosobre-button{
    background-color: #ee6e5d;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 11px;
    text-align: center;
}

.videosobre-sobre-list{
    color: white;
    text-align: center;
    line-height: 1.4em;
}

strong{
    font-weight: bold;
}

.mapacursos{
    padding: 2em 0em;
    margin: 1.5em 0em;
    display: flex;
    justify-content: space-around;
    background-color: rgba(12, 71, 138, 0.849);
    color: white;
    
}

.mapabackend{
    text-align: left;
    padding: 6em;
    height: 14em;
    flex-direction: column;
    justify-content: space-between;
}

.mapabackenda{
    max-width: 42%;
    font-size: 1em;
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mapabackendb{
    max-width: 42%;
    font-size: 1em;
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mapabackendc{
    max-width: 20%;
    font-size: 1em;
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mapabackendd{
    max-width: 21%;
    font-size: 1em;
    padding: 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3{
    color: white;
    font-size: 2em;
}

h4{
    color: green;
}

h5{
    color: rgb(0, 153, 255)
}

h6{
    color: purple;
}

h7{
    color: orange;
}